vim/.vim/plugged
#vim/.vim/autoload/plug.vim
vim/.vim/autoload/plug.vim.old
fcitx5/fcitx5/crash.log
gtk-3.0/gtk-3.0/bookmarks
ibus/ibus/bus
ibus/ibus/pinyin/bus
ibus/ibus/rime/*
vim/.vim/sessions
nvim/nvim/plugin/*
coc/coc/*.json
coc/coc/extensions
coc/coc/snippets-mru
coc/coc/mru
ibus/ibus/rime/*
**tags
